@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

html{
    scroll-behavior: smooth;
}

/* root color */
:root{
    --primary-color: #be3bab;
    --secondary-color: #000;
    --third-color: #fff;
    --fourth-color: #9C9090;
}
/* dark mode */
.dark-theme{
    background-color: #000;
    color: #fff;
}
.dark-theme .header_content{
    background-color: #000;
}
.dark-theme .header_content .logo{
    background-color: #000;
}
.dark-theme .header_content .menu{
    background-color: #000;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #000;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: var(--primary-color);
}
nav ul li a.active{
    color: var(--primary-color);
}
nav ul li{
    position: relative;
}
nav ul li::after{
    content: '';
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a.active::after{
    width: 100%;
}
nav ul li a.active:hover::after{
    width: 100%;
}


.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown button{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


.header_content{
    width: 100%;
    height: 100vh;
    display: flex;
}
.logo{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    
}
.menu{
    width: 100%;
    height: 100px;
    display: flex;    
}
.menu .active{
    height: 450px;
}
.menu ul li a{
    justify-content: space-between;
    padding: 10px;
}
.dark_mode{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

.dark_mode {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.dark-mode img{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50px;
    cursor: pointer;
}
.dark_theme{
    width: 100%;
    height: 100px;
    display: flex;
    
}

.humberger{
    display: none;

}

/* nav bar responsiveness */
@media screen and (max-width: 320px){
    
   
    .logo{
        width: 100%;
        background: #11101b;
        height: 80px; 
    }
    .dark-mode img{
        display: none;
    }
    .humberger{
        display: block;
        cursor: pointer;
        margin-left: 110px;
    }
    .humberger .line{ 
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        border-radius: 5px;
    }
    menu {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    menu ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s; 
        opacity: 0;
    }
    menu ul li{
        margin-bottom: 12px;
    }
}

/* home */

.home_content{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
}
.home_content_left{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.home_content_left img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.home_content_right{
    display: grid;
    justify-content: center;
    align-items: center;
}
.home_content_right h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home_content_right p{
    font-size: 17px;
    font-weight: 400;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
}
.search{
    width: 100%;
    height: 200px;
    

}
.search input{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #232020;
    margin-bottom: 40px;
}


.search button{
    position: absolute;
    top: 72%;
    bottom: 0;
    right: 0;
    background: #be3bab;
    color: #000;
    padding: 10px;
    margin: -17px;
    left: 83%;
    letter-spacing: 1.2px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

label{
    position: relative;
}



.projects_content{
    width: 100%;
    height: 1300px;
    background-color: var(--secondary-color);
    margin-top: -20px;
 
}
.projects_content_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.projects_content_left p{
    font-size: 17px;
    font-weight: 400;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
}
.projects_content_right{
    
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;

}


.projects_content_right_card img{
    width: 300px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 50px;
    padding: 10px;
    transition: all 1s;
}

.projects_content_right_card img:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.projects_content_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.projects_content_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
}

.center_button{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;


}
.center_button button{
    width: 150px;
    height: 50px;
    background-color: #F138D4;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    display: flex;
}




.clients_content{
    width: 100%;
    height: 800px;
    background: rgb(20, 20, 20);
    margin-top: -20px;
    
    
}
.clients_content_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-right: 150px;
    
}
.clients_content_right{
    
    display: grid;
    
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    padding: 20px;
    
    

}

.clients_content_right_card{
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    background-color: #000;
    border-radius: 15px;
}


.clients_content_right_card img{
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 110px;
    padding: 10px;

}
.clients_content_right_card_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.clients_content_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.clients_content_right_card_content h2{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.clients_content_right_card_content h3{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    text-transform: lowercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.clients_content_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}



.recent_post{
    width: 100%;
    height: 80%;
    background-color: var(--secondary-color);
    margin-top: -20px;
    
    
}
.recent_post_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-right: 150px;
    

}
.recent_post_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    

    
}

.recent_post_right_card{
    width: 400px;
    height: 750px;
    background: #000;
    border-radius: 10px;
}

.recent_post_right_card img{
    width: 300px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: #232020; */
    border-radius: 15px;
    margin: 50px;
    padding: 10px;

}

.recent_post_right_card_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.recent_post_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.recent_post_right_card_content h2{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.recent_post_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.center_button_c{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.center_button_c button{
    width: 150px;
    height: 50px;
    background-color: #F138D4;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    
    
    
}

.list_button{
    padding: 10px;
}

.list_button button{
    padding: 10px;
    background-color: #232020;
    border: none;
    color: #fff;
    border-radius: 10px;
    
}
.list_image{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.list_image ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.list_image ul li{
    padding: 10px;
}
.list_image ul li img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #fff;
}

.footer_content{
    width: 100%;
    height: 500px;
    background-color: var(--secondary-color);

        
}
.footer_content_left{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_logo{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_logo img{
    width: 320px;
    height: 330px;
    object-fit: cover;
    align-items: center;
    padding-top: 10px;
    border-radius: 15px;
    
    
}
.footer_content_left_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_content p{
    font-size: 17px;
    font-weight: 200;
    color: #9C9090;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.footer_content_left_content h1{
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    
}

.footer_content_left_social {
    color: var(--fourth-color);
    top: 40%;
    left: 40%;
    transform: translate(-53%, -50%);
    background-color: var(--fourth-color);
}
.footer_content_left_social ul{
    list-style: none;
    display: flex;
    position: absolute;
    justify-content: center;
    right: -45%;
    bottom: -100px;
    padding: auto;
}
.footer_content_left_social ul li{
    width: 50px;
    height: 50px;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 0 5px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
}
.footer_content_left_social ul li a i{
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}


.footer_content_left_social ul li:hover{
    background: var(--fourth-color);
    transform: scale(1.1);
}


.footer_content_right{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-right: 50px;
}
.footer_content_right_list{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-right: 50px;
}
.footer_content_right_list h1{
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.footer_content_right_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_content_right_list ul li{
    padding: 10px;
    border-bottom: 1px solid #9C9090;
    color: #ffff;
}
.footer_content_right_list ul li a{
    text-decoration: none;
    color: #fff;
}
.footer_content_right_list ul li a:hover{
    color: #9C9090;
}

.copyright{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
hr{
    border: 1px solid #9C9090;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyright{
    display: flex;
}
.copyright p{
    font-size: 15px;
    font-weight: 200;
    color: #9C9090;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}

.copyright p a{
    text-decoration: none;
    color: #9C9090;
}
.copyright .arrow_up{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    
}
.arrow_up a{
    text-decoration: none;
    color: #9C9090;
    

}

.arrow_up a i{
    width: 50px;
    height: 50px;
    background: rgb(20, 20, 20);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 0 5px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
}






