@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

/* root color */
:root{
    --primary-color: #be3bab;
    --secondary-color: #000;
    --third-color: #fff;
    --fourth-color: #9C9090;
}
/* dark mode */
.dark-theme{
    background-color: #000;
    color: #fff;
}
.dark-theme .header_content{
    background-color: #000;
}
.dark-theme .header_content .logo{
    background-color: #000;
}
.dark-theme .header_content .menu{
    background-color: #000;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #000;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: var(--primary-color);
}
nav ul li a.active{
    color: var(--primary-color);
}
nav ul li{
    position: relative;
}
nav ul li::after{
    content: '';
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a.active::after{
    width: 100%;
}
nav ul li a.active:hover::after{
    width: 100%;
}
.header_content{
    width: 100%;
    height: 100vh;
    display: flex;
}
.logo{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    
}
.menu{
    width: 100%;
    height: 100px;
    display: flex;    
}
.menu .active{
    height: 450px;
}
.menu ul li a{
    justify-content: space-between;
    padding: 10px;
}
.dark_mode{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

.dark_mode {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.dark-mode img{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50px;
    cursor: pointer;
}
.dark_theme{
    width: 100%;
    height: 100px;
    display: flex;
    
}

.humberger{
    display: none;

}

/* nav bar responsiveness */
@media screen and (max-width: 320px){
    #header{
        /* padding: 0 5px; */

    }
    /* nav ul li{
        display: none;
    } */
    .logo{
        width: 100%;
        background: #11101b;
        height: 80px; 
    }
    .dark-mode img{
        display: none;
    }
    .humberger{
        display: block;
        cursor: pointer;
        margin-left: 110px;
    }
    .humberger .line{ 
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        border-radius: 5px;
    }
    menu {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    menu ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s; 
        opacity: 0;
    }
    menu ul li{
        margin-bottom: 12px;
    }
}

/* home */
#home{
    background-color: var(--secondary-color);

}
.home_content{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.home_content_left{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.home_content_left img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}
.home_content_right{
    width: 600px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.home_content_right h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home_content_right p{
    font-size: 17px;
    font-weight: 400;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
}
.search{
    width: 100%;
    height: 200px;
    

}
.search input{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #232020;
    margin-bottom: 40px;
}

.search button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #be3bab;
    color: #000;
    padding: 10px;
    margin: -17px;
    left: 75%;
    letter-spacing: 1.2px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

label{
    position: relative;
}


/* home responsivenes */
@media screen and (max-width: 320px){
    .home_content{
        grid-template-columns: 1fr;
        height: 100%;
    
    }
  
    .home_content_left img{
        width: 300px;
        height: 300px;
    }
    .home_content_right{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    .search button{
        position: absolute;
        top: 5px;
        bottom: 0px;
        right: 0;
        background: #be3bab;
        color: #000;
        padding: 10px;
        margin: -17px;
        left: 55%;
        letter-spacing: 1.2px;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    }
    
}


/* project section */
.projects_content{
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
   
    
}
.projects_content_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.projects_content_left p{
    font-size: 17px;
    font-weight: 400;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
}
.projects_content_right{
    
    display: grid;
    
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
    

}
.projects_content_right img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
}
.projects_content_right_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.projects_content_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.projects_content_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    margin-bottom: 20px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
}
.projects_content_right_card{
    
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50px;
    margin: 80px;
    
    
}
.center_button{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;


}
.center_button button{
    width: 150px;
    height: 50px;
    background-color: #F138D4;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    display: flex;
}

/* project responsivenes */
@media screen and (max-width: 320px){
    .projects_content{
        grid-template-columns: 1fr;
        height: 100%;
    
    }
  
    .projects_content_left img{
        width: 300px;
        height: 300px;
    }
    .projects_content_right{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    .search button{
        position: absolute;
        top: 5px;
        bottom: 0px;
        right: 0;
        background: #be3bab;
        color: #000;
        padding: 10px;
        margin: -17px;
        left: 55%;
        letter-spacing: 1.2px;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    }
    
}


/* clients responsive */




.clients_content{
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    margin-top: 800px;
    margin-left: 55px;
    justify-content: center;
    
    
    
}
.clients_content_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-right: 150px;
    
}
.clients_content_right{
    
    display: grid;
    
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    padding: 20px;
    
    

}

.clients_content_right_card{
    width: 272px;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    background: #000000;
    border-radius: 15px;
    
}
.clients_content_right_card_img img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
    display: flex;
    padding-top: 10px;
    
    
}
.clients_content_right_card_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.clients_content_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.clients_content_right_card_content h2{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.clients_content_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* client responsive */
@media screen and (max-width: 320px){
    .clients_content{
        grid-template-columns: 1fr;
        height: 100%;
    
    }
  
    .clients_content_left img{
        width: 300px;
        height: 300px;
    }
    .clients_content_right{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    .search button{
        position: absolute;
        top: 5px;
        bottom: 0px;
        right: 0;
        background: #be3bab;
        color: #000;
        padding: 10px;
        margin: -17px;
        left: 55%;
        letter-spacing: 1.2px;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 50px;
    }
    
}

.recent_post{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    margin-left: 55px;
    margin-bottom: 300px;
    
}
.recent_post_left h1{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-right: 150px;
    

}
.recent_post_right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;

    
}

.recent_post_right_card{
    width: 300px;
    height: 700px;
    background: #000000;
    border-radius: 15px;
}
.recent_post_right_card_img img{
    border-radius: 15px;
    object-fit: cover;
    width: 100%;


}
.recent_post_right_card_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.recent_post_right_card_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.recent_post_right_card_content h2{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.recent_post_right_card_content p{
    font-size: 17px;
    font-weight: 100;
    color: #9C9090;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.center_button_c{
    width: 100%;
    height: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.center_button_c button{
    width: 150px;
    height: 50px;
    background-color: #F138D4;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    display: flex;
    
    
}

.list_button{
    padding: 10px;
}

.list_button button{
    padding: 10px;
    background-color: #232020;
    border: none;
    color: #fff;
    border-radius: 5px;
    
}

.footer_content{
    width: 100%;
    height: 500px;
    background-color: var(--secondary-color);
    margin-top: 400px;
    /* margin-left: 0;  */
    
    
    
}
.footer_content_left{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_logo{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_logo img{
    width: 288px;
    height: 301px;
    object-fit: cover;
    align-items: center;
    padding-top: 10px;
    border-radius: 15px;
    
    
}
.footer_content_left_content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.footer_content_left_content p{
    font-size: 17px;
    font-weight: 200;
    color: #9C9090;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.footer_content_left_content h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}

.footer_content_left_social {
    color: var(--third-color);
    top: 40%;
    left: 40%;
    transform: translate(-53%, -50%);
}
.footer_content_left_social ul{
    list-style: none;
    display: flex;
    position: absolute;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    right: -45%;
    bottom: -100px;

    
    padding: auto;
}
.footer_content_left_social ul li{
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 0 5px;
    margin-top: 100px;
    border-radius: 50%;
    transition: 0.5s;
}
.footer_content_left_social ul li:hover{
    background: #fff;
    transform: scale(1.1);
}


.footer_content_right{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-right: 50px;
}
.footer_content_right_list{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-right: 50px;
}
.footer_content_right_list h1{
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}
.footer_content_right_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_content_right_list ul li{
    padding: 10px;
    border-bottom: 1px solid #9C9090;
    color: #9C9090;
}
.footer_content_right_list ul li a{
    text-decoration: none;
    color: #9C9090;
}
.footer_content_right_list ul li a:hover{
    color: #9C9090;
}

.copyright{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
hr{
    border: 1px solid #9C9090;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyright{
    display: grid;
}
.copyright p{
    font-size: 15px;
    font-weight: 200;
    color: #9C9090;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}

.copyright p a{
    text-decoration: none;
    color: #9C9090;
}
.arrow_up{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: auto;
}
.arrow_up a{
    text-decoration: none;
    color: #9C9090;
}

.arrow_up a i{
    width: 50px;
    height: 50px;
    background: var(--fourth-color);
    color: #232020;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 0 5px;
    margin-top: 100px;
    border-radius: 50%;
    transition: 0.5s;
}



